*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'Source Han Sans SC VF', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'CaskaydiaCove Nerd Font', 'Source Han Sans SC VF', Consolas,
    monaco, monospace;
}
